<%- include header %>
<form method="post">
    标题：<br />
    <input type="text" placeholder="请填写标题" name="title" required/><br />
    正文：<br />
    <textarea name="post" rows="20" cols="100" required></textarea><br />
    <input type="submit" value="发表" />
</form>
<%- include footer %>
